/* ADVANCED STYLES */ 
.top_testresult{ 
	font-weight: bold; 
	font-size:13px;
	height:16px;
	width:200px;
	font-family: arail,helvetica,san-serif; 
	color:#666; 
} 
.top_testresult span{ 
	height:16px;
	width:200px;
}
.defaultPass{ 
	background:#B3DDE6; 
	border:1px solid #B3DDE6; 
	display:block; 
} 
.top_shortPass{ 
	background:#edabab; 
	border:1px solid #bc0000; 
	display:block; 
} 
.top_shortPass span{ 
	height:16px;
	width:200px;
} 
.top_badPass{ 
	background:#edabab; 
	border:1px solid #bc0000; 
	display:block; 
} 
.top_badPass span{
	height:16px; 
	width:200px;
} 
.top_goodPass{ 
	background:#ede3ab; 
	border:1px solid #bc9f00; 
	display:block; 
} 
.top_goodPass span{ 
	height:16px;
	width:200px;
} 
.top_strongPass{ 
	background:#d3edab; 
	border:1px solid #73bc00; 
	display:block; 
} 
.top_strongPass span{ 
	height:16px;
	width:200px;
} 
/* RESULT STYLE */ 
.testresult{ 
	font-weight: bold; 
	font-size:13px; 
	font-family: arial,helvetica,san-serif; 
	color:#666; 
	display: block; 
	height:16px;
	width:200px;
	float:left;
	align:center;
} 
.testresult span{ 
	display:block; 
	float:right;
	width:200px;
	height:16px;
	white-space: nowrap; 
} 
.shortPass{ 
	background:url(../images/red.png) no-repeat 0 0; 
} 
.shortPass span{ 
	background:url(../images/red.png) no-repeat top right; 
} 
.badPass{ 
	background:url(../images/red.png) no-repeat 0 0; 
} 
.badPass span{ 
	background:url(../images/red.png) no-repeat top right; 
} 
.goodPass{ 
	background:url(../images/yellow.png) no-repeat 0 0; 
} 
.goodPass span{ 
	background:url(../images/yellow.png) no-repeat top right; 
} 
.strongPass{ 
	background:url(../images/green.png) no-repeat 0 0; 
} 
.strongPass span{ 
	background:url(../images/green.png) no-repeat top right; 
} 

