<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dmNew</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/module/errpage/not404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/module/errpage/not500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.ow.framework.controller.servlet.InitServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/initServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>struts-cleanup</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
  </filter>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.apache.struts2.sitemesh.FreeMarkerPageFilter</filter-class>
  </filter>
  <filter>
    <filter-name>struts</filter-name>
    <filter-class>com.ow.framework.filter.ExtendStrutsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts-cleanup</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>show_page</servlet-name>
    <servlet-class>com.staticHtml.servlet.show_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_page</servlet-name>
    <url-pattern>/show_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downQRcode</servlet-name>
    <servlet-class>com.staticHtml.servlet.downQRcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downQRcode</servlet-name>
    <url-pattern>/downQRcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFileServlet</servlet-name>
    <servlet-class>com.ow.upload.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>progressFileServlet</servlet-name>
    <servlet-class>com.ow.upload.servlet.ProgressFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoteRequestServlet</servlet-name>
    <servlet-class>com.SmartServer.servlet.RemoteRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModuleStatesServlet</servlet-name>
    <servlet-class>com.SmartServer.servlet.ModuleStatesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SmartIpXmlServlet</servlet-name>
    <servlet-class>com.SmartServer.servlet.SmartIpXmlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleUploader</servlet-name>
    <servlet-class>com.ckeditor.base.util.CKEditorUploadServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>AllowedExtensionsFile</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>DeniedExtensionsFile</param-name>
      <param-value>
			html|htm|php|php2|php3|php4|php5|phtml|pwml|inc|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|com|dll|vbs|js|reg|cgi|htaccess|asis|ftl
		</param-value>
    </init-param>
    <init-param>
      <param-name>AllowedExtensionsImage</param-name>
      <param-value>jpg|gif|jpeg|png|bmp</param-value>
    </init-param>
    <init-param>
      <param-name>DeniedExtensionsImage</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>AllowedExtensionsFlash</param-name>
      <param-value>swf|fla</param-value>
    </init-param>
    <init-param>
      <param-name>DeniedExtensionsFlash</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleUploader</servlet-name>
    <url-pattern>/ckeditor/uploader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadFileServlet</servlet-name>
    <url-pattern>/uploadFile/upload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>progressFileServlet</servlet-name>
    <url-pattern>/uploadFile/getBar/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoteRequestServlet</servlet-name>
    <url-pattern>/RemoteRequestServlet/Remote/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleStatesServlet</servlet-name>
    <url-pattern>/ModuleStatesServlet/Module/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SmartIpXmlServlet</servlet-name>
    <url-pattern>/SmartIpXmlServlet/SmartIpXml/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SmallServlet</servlet-name>
    <servlet-class>com.ow.module.event.sysmgr.exhibition.servlet.SmallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmallServlet</servlet-name>
    <url-pattern>/SmallServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreparingCenter</servlet-name>
    <servlet-class>com.ow.framework.listener.event.impl.PreparingCenterTop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparingCenter</servlet-name>
    <url-pattern>/PreparingCenterTop/PreparingCenter/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
</web-app>